# Database Layer Performance Benchmark

**Question:** How many indicator responses per hub (application)?

This notebook compares the same query across three database layers:
- **Raw** — Normalized tables, multiple joins required
- **Marts** — Star schema, single join required  
- **Superset** — Pre-aggregated, no joins required

In [1]:
import psycopg2
import pandas as pd
import time

conn = psycopg2.connect(
    "postgresql://neondb_owner:npg_bDUciT6Bo2Ak@ep-fancy-unit-agjk1sky-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
)
conn.autocommit = True

def benchmark(query, iterations=3):
    """Run query and return results with timing."""
    times = []
    for _ in range(iterations):
        start = time.perf_counter()
        with conn.cursor() as cur:
            cur.execute(query)
            result = cur.fetchall()
            cols = [d[0] for d in cur.description]
        times.append((time.perf_counter() - start) * 1000)
    return pd.DataFrame(result, columns=cols), sum(times)/len(times)

def explain(query):
    """Get execution plan."""
    with conn.cursor() as cur:
        cur.execute(f"EXPLAIN (ANALYZE, BUFFERS) {query}")
        return '\n'.join([r[0] for r in cur.fetchall()])

print("Connected.")

Connected.

---
## 1. Raw Layer

**3 joins required:** `snapshot_stoplight` → `snapshot` → `applications`

In [2]:
q_raw = """
SELECT 
    a.name AS hub_name,
    COUNT(*) AS indicator_responses
FROM data_collect.snapshot_stoplight ssl
JOIN data_collect.snapshot s ON ssl.snapshot_id = s.id
JOIN ps_network.applications a ON s.application_id = a.id
GROUP BY a.name
ORDER BY indicator_responses DESC
LIMIT 15
"""

df_raw, time_raw = benchmark(q_raw)
print(f"⏱ {time_raw:.0f} ms")
df_raw

⏱ 15595 ms

                            hub_name  indicator_responses
0                            Unbound             22262198
1                 Microfinanzas - FP              7002881
2                                 HP              2428618
3       Red de Empresas del Semáforo              1103587
4                         Greenlight               561243
5                Fundacion Paraguaya               426423
6                      Avanza Solido               336280
7                        USEM Mexico               317056
8   Universidad Francisco Marroquín                312240
9                            Telamon               279545
10                            Signal               278747
11                  Banco Da Familia               218881
12                    Itaipú - Becal               201336
13                             ACEGE               183133
14                         Emprender               181305

In [3]:
print(explain(q_raw))

Limit  (cost=1066475.33..1066475.37 rows=15 width=23) (actual time=7578.684..7803.696 rows=15 loops=1)
  Buffers: shared hit=59172 read=212551, temp read=137383 written=137448
  ->  Sort  (cost=1066475.33..1066475.64 rows=124 width=23) (actual time=7578.682..7803.691 rows=15 loops=1)
        Sort Key: (count(*)) DESC
        Sort Method: top-N heapsort  Memory: 26kB
        Buffers: shared hit=59172 read=212551, temp read=137383 written=137448
        ->  Finalize GroupAggregate  (cost=1066440.87..1066472.29 rows=124 width=23) (actual time=7578.458..7803.669 rows=92 loops=1)
              Group Key: a.name
              Buffers: shared hit=59172 read=212551, temp read=137383 written=137448
              ->  Gather Merge  (cost=1066440.87..1066469.81 rows=248 width=23) (actual time=7578.452..7803.607 rows=274 loops=1)
                    Workers Planned: 2
                    Workers Launched: 2
                    Buffers: shared hit=59172 read=212551, temp read=137383 written=137448
                    ->  Sort  (cost=1065440.85..1065441.16 rows=124 width=23) (actual time=7574.943..7575.376 rows=91 loops=3)
                          Sort Key: a.name
                          Sort Method: quicksort  Memory: 28kB
                          Buffers: shared hit=59172 read=212551, temp read=137383 written=137448
                          Worker 0:  Sort Method: quicksort  Memory: 28kB
                          Worker 1:  Sort Method: quicksort  Memory: 28kB
                          ->  Partial HashAggregate  (cost=1065435.30..1065436.54 rows=124 width=23) (actual time=7574.863..7575.307 rows=91 loops=3)
                                Group Key: a.name
                                Batches: 1  Memory Usage: 40kB
                                Buffers: shared hit=59156 read=212551, temp read=137383 written=137448
                                Worker 0:  Batches: 1  Memory Usage: 40kB
                                Worker 1:  Batches: 1  Memory Usage: 40kB
                                ->  Parallel Hash Join  (cost=231052.69..984357.55 rows=16215550 width=15) (actual time=3175.696..5526.311 rows=12972440 loops=3)
                                      Hash Cond: (ssl.snapshot_id = s.id)
                                      Buffers: shared hit=59156 read=212551, temp read=137383 written=137448
                                      ->  Parallel Index Only Scan using idx_snapshot_stoplight_snapshot_id on snapshot_stoplight ssl  (cost=0.44..495754.12 rows=16215550 width=8) (actual time=0.048..1046.374 rows=12972440 loops=3)
                                            Heap Fetches: 0
                                            Buffers: shared hit=58541
                                      ->  Parallel Hash  (cost=223239.82..223239.82 rows=425475 width=23) (actual time=461.085..461.089 rows=340380 loops=3)
                                            Buckets: 131072  Batches: 8  Memory Usage: 7744kB
                                            Buffers: shared hit=591 read=212551, temp written=4348
                                            ->  Hash Join  (cost=7.79..223239.82 rows=425475 width=23) (actual time=0.129..395.700 rows=340380 loops=3)
                                                  Hash Cond: (s.application_id = a.id)
                                                  Buffers: shared hit=591 read=212551
                                                  ->  Parallel Seq Scan on snapshot s  (cost=0.00..217381.75 rows=425475 width=16) (actual time=0.074..324.721 rows=340380 loops=3)
                                                        Buffers: shared hit=576 read=212551
                                                  ->  Hash  (cost=6.24..6.24 rows=124 width=23) (actual time=0.048..0.049 rows=124 loops=3)
                                                        Buckets: 1024  Batches: 1  Memory Usage: 16kB
                                                        Buffers: shared hit=15
                                                        ->  Seq Scan on applications a  (cost=0.00..6.24 rows=124 width=23) (actual time=0.007..0.026 rows=124 loops=3)
                                                              Buffers: shared hit=15
Planning:
  Buffers: shared hit=20
Planning Time: 0.271 ms
Execution Time: 7803.825 ms

---
## 2. Marts Layer

**1 join required:** `fact_indicators` → `dim_organization`

In [4]:
q_marts = """
SELECT 
    o.application_name AS hub_name,
    COUNT(*) AS indicator_responses
FROM analytics_marts.fact_indicators fi
JOIN analytics_marts.dim_organization o ON fi.organization_id = o.organization_id
GROUP BY o.application_name
ORDER BY indicator_responses DESC
LIMIT 15
"""

df_marts, time_marts = benchmark(q_marts)
print(f"⏱ {time_marts:.0f} ms")
df_marts

⏱ 4257 ms

                            hub_name  indicator_responses
0                            Unbound             22254074
1                 Microfinanzas - FP              7002875
2                                 HP              2428618
3       Red de Empresas del Semáforo              1103587
4                         Greenlight               560979
5                Fundacion Paraguaya               424332
6                      Avanza Solido               336280
7                        USEM Mexico               317056
8   Universidad Francisco Marroquín                312020
9                            Telamon               279545
10                            Signal               278741
11                  Banco Da Familia               218881
12                    Itaipú - Becal               201325
13                             ACEGE               182717
14                         Emprender               181272

In [5]:
print(explain(q_marts))

Limit  (cost=1112094.20..1112094.23 rows=15 width=24) (actual time=9282.195..9284.634 rows=15 loops=1)
  Buffers: shared hit=637 read=644564
  ->  Sort  (cost=1112094.20..1112094.46 rows=105 width=24) (actual time=9282.193..9284.629 rows=15 loops=1)
        Sort Key: (count(*)) DESC
        Sort Method: top-N heapsort  Memory: 26kB
        Buffers: shared hit=637 read=644564
        ->  Finalize GroupAggregate  (cost=1112065.02..1112091.62 rows=105 width=24) (actual time=9282.032..9284.609 rows=92 loops=1)
              Group Key: o.application_name
              Buffers: shared hit=637 read=644564
              ->  Gather Merge  (cost=1112065.02..1112089.52 rows=210 width=24) (actual time=9282.025..9284.544 rows=266 loops=1)
                    Workers Planned: 2
                    Workers Launched: 2
                    Buffers: shared hit=637 read=644564
                    ->  Sort  (cost=1111065.00..1111065.26 rows=105 width=24) (actual time=9279.498..9279.505 rows=89 loops=3)
                          Sort Key: o.application_name
                          Sort Method: quicksort  Memory: 28kB
                          Buffers: shared hit=637 read=644564
                          Worker 0:  Sort Method: quicksort  Memory: 28kB
                          Worker 1:  Sort Method: quicksort  Memory: 28kB
                          ->  Partial HashAggregate  (cost=1111060.42..1111061.47 rows=105 width=24) (actual time=9279.443..9279.457 rows=89 loops=3)
                                Group Key: o.application_name
                                Batches: 1  Memory Usage: 24kB
                                Buffers: shared hit=621 read=644564
                                Worker 0:  Batches: 1  Memory Usage: 24kB
                                Worker 1:  Batches: 1  Memory Usage: 24kB
                                ->  Hash Join  (cost=69.28..1030026.14 rows=16206857 width=16) (actual time=0.482..6937.001 rows=12964056 loops=3)
                                      Hash Cond: (fi.organization_id = o.organization_id)
                                      Buffers: shared hit=621 read=644564
                                      ->  Parallel Seq Scan on fact_indicators fi  (cost=0.00..807112.57 rows=16206857 width=8) (actual time=0.073..4170.207 rows=12964056 loops=3)
                                            Buffers: shared hit=480 read=644564
                                      ->  Hash  (cost=52.46..52.46 rows=1346 width=24) (actual time=0.389..0.390 rows=1346 loops=3)
                                            Buckets: 2048  Batches: 1  Memory Usage: 95kB
                                            Buffers: shared hit=117
                                            ->  Seq Scan on dim_organization o  (cost=0.00..52.46 rows=1346 width=24) (actual time=0.007..0.186 rows=1346 loops=3)
                                                  Buffers: shared hit=117
Planning Time: 0.115 ms
Execution Time: 9284.685 ms

---
## 3. Superset Layer

**No joins required** — `hub_name` is denormalized into the table

In [6]:
q_superset = """
SELECT 
    hub_name,
    SUM(family_count) AS indicator_responses
FROM superset."Indicators"
GROUP BY hub_name
ORDER BY indicator_responses DESC
LIMIT 15
"""

df_superset, time_superset = benchmark(q_superset)
print(f"⏱ {time_superset:.0f} ms")
df_superset

⏱ 322 ms

                            hub_name indicator_responses
0                            Unbound            21705405
1                 Microfinanzas - FP             7002875
2       Red de Empresas del Semáforo             1089457
3                         Greenlight              498673
4                Fundacion Paraguaya              384957
5                        USEM Mexico              316896
6                      Avanza Solido              311059
7   Universidad Francisco Marroquín               289070
8                            Telamon              279534
9                             Signal              277084
10                  Banco Da Familia              218881
11                    Itaipú - Becal              201325
12                         Emprender              179487
13  Empresas en Comunidades Paraguay              173403
14            Educación Emprendedora              147941

In [7]:
print(explain(q_superset))

Limit  (cost=54519.03..54519.07 rows=15 width=42) (actual time=224.245..226.452 rows=15 loops=1)
  Buffers: shared hit=496 read=42930
  ->  Sort  (cost=54519.03..54519.24 rows=85 width=42) (actual time=224.244..226.449 rows=15 loops=1)
        Sort Key: (sum(family_count)) DESC
        Sort Method: top-N heapsort  Memory: 26kB
        Buffers: shared hit=496 read=42930
        ->  Finalize GroupAggregate  (cost=54494.77..54516.94 rows=85 width=42) (actual time=224.033..226.408 rows=89 loops=1)
              Group Key: hub_name
              Buffers: shared hit=496 read=42930
              ->  Gather Merge  (cost=54494.77..54514.61 rows=170 width=42) (actual time=224.024..226.294 rows=214 loops=1)
                    Workers Planned: 2
                    Workers Launched: 2
                    Buffers: shared hit=496 read=42930
                    ->  Sort  (cost=53494.75..53494.96 rows=85 width=42) (actual time=221.601..221.606 rows=71 loops=3)
                          Sort Key: hub_name
                          Sort Method: quicksort  Memory: 29kB
                          Buffers: shared hit=496 read=42930
                          Worker 0:  Sort Method: quicksort  Memory: 29kB
                          Worker 1:  Sort Method: quicksort  Memory: 29kB
                          ->  Partial HashAggregate  (cost=53490.96..53492.02 rows=85 width=42) (actual time=221.547..221.563 rows=71 loops=3)
                                Group Key: hub_name
                                Batches: 1  Memory Usage: 32kB
                                Buffers: shared hit=480 read=42930
                                Worker 0:  Batches: 1  Memory Usage: 32kB
                                Worker 1:  Batches: 1  Memory Usage: 32kB
                                ->  Parallel Seq Scan on "Indicators"  (cost=0.00..50130.64 rows=672064 width=18) (actual time=0.065..90.558 rows=537523 loops=3)
                                      Buffers: shared hit=480 read=42930
Planning Time: 0.106 ms
Execution Time: 226.493 ms

---
## Summary

In [8]:
summary = pd.DataFrame({
    'Layer': ['Raw', 'Marts', 'Superset'],
    'Joins': [2, 1, 0],
    'Time (ms)': [f"{time_raw:.0f}", f"{time_marts:.0f}", f"{time_superset:.0f}"],
    'Speedup vs Raw': ['1.0x', f"{time_raw/time_marts:.1f}x", f"{time_raw/time_superset:.1f}x"]
})
summary

      Layer  Joins Time (ms) Speedup vs Raw
0       Raw      2     15595           1.0x
1     Marts      1      4257           3.7x
2  Superset      0       322          48.4x

In [9]:
# Data volumes for context
volumes = """
SELECT 'snapshot_stoplight (raw)' as tbl, COUNT(*) as rows FROM data_collect.snapshot_stoplight
UNION ALL SELECT 'fact_indicators (marts)', COUNT(*) FROM analytics_marts.fact_indicators
UNION ALL SELECT 'Indicators (superset)', COUNT(*) FROM superset."Indicators"
"""
with conn.cursor() as cur:
    cur.execute(volumes)
    vol_df = pd.DataFrame(cur.fetchall(), columns=['Table', 'Rows'])
vol_df['Rows'] = vol_df['Rows'].apply(lambda x: f"{x:,}")
vol_df

                      Table        Rows
0     Indicators (superset)   1,612,570
1  snapshot_stoplight (raw)  38,917,319
2   fact_indicators (marts)  38,892,168

In [10]:
conn.close()
print("Done.")

Done.